body{
    background-color: white;
    color: lawngreen;
    font-family: "Cabin", sans-serif;
}

header{
    text-align: center;
    padding: 2rem;
}

main{
    padding: 2rem;
}

input[type="radio"] {
    accent-color: red;
}


